<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <h1><%= @cocktail.name %></h1>
      <ul class="list-unstyled">
        <% @cocktail.doses.each do |d| %>
          <li><%= d.description  %> of <%= d.ingredient.name  %></li>
        <% end %>
      </ul>
      <br>
      <%= simple_form_for([@cocktail, @dose]) do |f| %>
        <%= f.input :description %>
        <%= f.association :ingredient %>
        <%= f.submit class: "btn btn-primary" %>
      <% end %>
      <%= link_to 'Back', cocktails_path %>
    </div>
  </div>
</div>
